
* {
    font-family: 'Oswald', sans-serif;
    
}
.secion{
    background: #360033;  
    background: -webkit-linear-gradient(to right, #0b8793, #360033); 
    background: linear-gradient(to right, #0b8793, #360033);
    
    
}
.navbar{ 

    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    
}
.carousel{
    background: #525252;  
background: -webkit-linear-gradient(to right, #3d72b4, #525252);  
background: linear-gradient(to right, #3d72b4, #525252); 

}

.producto{
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

 position: fixed;
height: 100%;